/lesson 13/virt/
/lesson 13/VK-bot/auth_data.py
/lesson 14/python_snippets/tests/01_debugging.py
/lesson 14/python_snippets/01_debugging.py
/lesson 14/python_snippets/tests/02_tests_intro.py
/lesson 14/python_snippets/02_tests_intro.py
/lesson 14/python_snippets/tests/03_writing_tests.py
/lesson 14/python_snippets/03_writing_tests.py
/lesson 14/python_snippets/tests/04_logging.py
/lesson 14/python_snippets/04_logging.py
/lesson 14/python_snippets/tests/05_practice.py
/lesson 14/python_snippets/05_practice.py
/lesson 14/python_snippets/primes_package/__init__.py
/lesson 14/python_snippets/tests/__init__.py
/lesson 14/python_snippets/__init__.py
/lesson 14/python_snippets/family.py
/lesson 14/python_snippets/handling_external_data.py
/lesson 14/python_snippets/primes_package/log_settings.py
/lesson 14/python_snippets/primes_package/main.py
/lesson 14/python_snippets/my_sort.py
/lesson 14/python_snippets/primes_package/primes.py
/lesson 14/python_snippets/primes.py
/lesson 14/python_snippets/tests/test_child.py
/lesson 14/python_snippets/tests/test_handling_external_data.py
/lesson 14/python_snippets/tests/test_my_sort.py
/lesson 14/python_snippets/test_my_sort.py
/lesson 14/python_snippets/tests/test_wife.py
